*.iml
.gradle
.kotlin
/local.properties
/.idea
/.vscode
/.hallmark
/artifacts
/gradle/gradle-daemon-jvm.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
